<nav class="app-navbar fixed-top d-none">
  <div class="navbar-left">
    <button class="navbar-toggler pe-3" type="button" onclick="toggleSidebar()">
      <i class="fas fa-bars fa-lg" style="color: rgb(23, 136, 65)"></i>
    </button>

    <img class="app-icon" src="assets/cutlery.png" />
    <h1 class="app-title">Meals on' Wheels</h1>
  </div>

  <div class="navbar-right">
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search..." />
      <span class="search-icon">
        <i class="fas fa-search" style="color: rgb(23, 136, 65)"></i>
      </span>
    </div>

    <button
      class="cart-button"
      style="position: relative"
      onclick="toggleCartbar()"
    >
      <i class="fas fa-shopping-cart cart-icon"></i>
      Cart
      <span
        style="position: absolute; top: -5px; right: -5px"
        class="badge bg-success rounded-pill invisible"
        id="busy-cart-symbol"
        >+</span
      >
    </button>
  </div>
</nav>
