<div class="container">
  <h2>Orders</h2>
  <ul class="list-group mt-3">
    <!-- order Item row -->
    {% for order in orders %}
    <li class="list-group-item" order_id="{{order.id}}" order_feedback="{{order.feedback}}">
      <div class="row align-items-center">
        <div class="col-1">{{ forloop.counter }}.</div>
        <div class="col-4">
          <div class="order-name">{{order.restaurant}} order</div>
          <div class="order-amt">({{order.total}} AUD)</div>
        </div>
        <div class="col-5 order-status">
          Current Status: <strong>{{order.status}}</strong>
        </div>
        <button
          type="button"
          class="col-2 btn btn-success"
          onclick="fetchCustomerOrderDetails('{{order.id}}',$('#orderCustomerModalTrigger'))"
        >
          View Order
        </button>
        <button
          id="orderCustomerModalTrigger"
          type="button"
          class="col-2 btn btn-success d-none"
          data-bs-toggle="modal"
          data-bs-target="#orderCustomerModal"
        >
          View Order
        </button>
      </div>
    </li>
    {% endfor %}
    <!-- order Item row -->
  </ul>
</div>

<!-- Order Details Modal -->
<div
  class="modal fade"
  id="orderCustomerModal"
  tabindex="-1"
  aria-labelledby="orderModalLabel"
  aria-hidden="true"
>
  <!-- Order Modal details -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4 class="order_restaurant_name"></h4>
        <ul class="order_menu"></ul>
        <p>Price: <span class="order_price"></span> A$</p>
        <p>Status: <span class="order_status"></span></p>
        <div class="order_delivery_details d-none d-flex flex-column">
          <p>Courier Name: <span class="order_delivery_name"></span></p>
          <p>Contact: <span class="order_delivery_contact"></span></p>
        </div>
      </div>
      <div>
        <!-- feedback div -->
        <div class="container feedback-div d-none">
          <div class="row">
            <div class="">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center mb-4">Feedback</h5>
                  <!-- Star rating for restaurant -->
                  <div class="mb-3">
                    <label for="restaurantRating" class="form-label">Rate the Restaurant</label>
                    <input type="range" class="form-range" min="1" max="5" id="restaurantRating">
                  </div>
                  <!-- Star rating for delivery person -->
                  <div class="mb-3">
                    <label for="deliveryRating" class="form-label">Rate the Delivery Person</label>
                    <input type="range" class="form-range" min="1" max="5" id="deliveryRating">
                  </div>
                  <!-- Feedback textarea -->
                  <div class="mb-3">
                    <label for="feedbackText" class="form-label">Feedback</label>
                    <textarea class="form-control" id="feedbackText" rows="3"></textarea>
                  </div>
                  <!-- Submit button -->
                  <div class="text-center">
                    <button type="button" class="btn btn-primary" onclick="submitFeedback()" data-bs-dismiss="modal">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- feedback div -->

    </div>
    <!-- Order Modal details -->
  </div>

  <!-- Order Details Modal -->
</div>
