<div class="container">
  <h2>Orders</h2>
  <ul class="list-group mt-3">
    <!-- order Item row -->
    {% for order in orders %}
    <li class="list-group-item" order_id="{{order.id}}">
      <div class="row align-items-center">
        <div class="col-1">{{ forloop.counter }}.</div>
        <div class="col-4">
          <div class="order-name">{{order.restaurant}} order</div>
          <div class="order-amt">({{order.total}} AUD)</div>
        </div>
        <div class="col-5 order-status">
          Current Status: <strong>{{order.status}}</strong>
        </div>
        <button
          type="button"
          class="col-2 btn btn-success"
          onclick="fetchCourierOrderDetails('{{order.id}}',$('#orderCourierModalTrigger'))"
        >
          View Order
        </button>
        <button
          id="orderCourierModalTrigger"
          type="button"
          class="col-2 btn btn-success d-none"
          data-bs-toggle="modal"
          data-bs-target="#orderCourierModal"
        >
          View Order
        </button>
      </div>
    </li>
    {% endfor %}

    {%if noOrders%}
    <h4 class="col-12 text-center">No Orders at the moment</h4>
    {%endif%}
    <!-- order Item row -->
  </ul>
</div>

<!-- Order Details Modal -->
<div
  class="modal fade"
  id="orderCourierModal"
  tabindex="-1"
  aria-labelledby="orderModalLabel"
  aria-hidden="true"
>
  <!-- Order Modal details -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4 class="order_restaurant_name"></h4>
        <ul class="order_menu"></ul>
        <p>Price: <span class="order_price"></span> A$</p>
        <p>Status: <span class="order_status"></span></p>
      </div>
      <div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success accept-order d-none" onclick="acceptCourierOrder()" data-bs-dismiss="modal">Accept</button>
          <button type="button" class="btn btn-danger reject-order d-none" onclick="rejectCourierOrder()" data-bs-dismiss="modal">Reject</button>
        
          <button type="button" class="btn btn-success update-order d-none" onclick="updateCourierOrder()" data-bs-dismiss="modal"></button>
        </div>
                      <!-- feedback div -->
       <div class="feedback-div d-none">
        <h5 class="text-center">Feedback</h5>
        <p class="feedback-p" style="white-space: pre;"></p>
       </div>       
              
              <!-- feedback div -->
      </div>

    </div>
    <!-- Order Modal details -->
  </div>

  <!-- Order Details Modal -->
</div>
